---
import Layout from '../layouts/Layout.astro';
import PageLayout from '../layouts/PageLayout.astro';
---

<Layout title='About'>
	<PageLayout heading='About'>
		<p class='text-xl font-medium'>
			I am a front-end engineer with over 2 years of hands-on experience in
			React, a framework I find both challenging and rewarding. I have a strong
			passion for learning and constantly strive to expand my knowledge, whether
			through tackling new technologies or delving into the depths of web
			accessibility and semantic HTML.
		</p>
		<p class='text-xl font-medium'>
			I am an avid participant in side projects, leveraging my skills to bring
			creative ideas to life outside of my regular work. My eagerness and
			curiosity drive me to explore innovative solutions and stay abreast of
			industry trends. I hold a BScHons in Computer Science, which has provided
			me with a solid foundation for navigating the dynamic realm of web
			development.
		</p>
	</PageLayout>
</Layout>
