---
import { astroUrl, coderUrl } from '../utils/constants';
const year = new Date().getFullYear();
---

<footer class='flex justify-center items-center w-full h-10 px-2'>
	<section class='flex gap-x-2'>
		<h3 class='text-sm md:text-base font-medium'>© {year} Thabo Rachidi</h3>
		·
		<p class='text-sm md:text-base font-medium'>
			Powered by
			<a class='underline text-blue-600' href={astroUrl}>Astro</a>
			&
			<a class='underline text-blue-600' href={coderUrl}>Coder</a>
		</p>
	</section>
</footer>
