---
import { Icon } from 'astro-icon/components';
---

<header class='flex w-full h-16'>
	<nav
		class='flex items-center justify-between w-full mx-auto max-w-[70rem] px-4 sm:px-0'
	>
		<a class='uppercase text-2xl font-semibold' href='/'>thaborachidi</a>

		<ul
			id='menu'
			class='hidden sm:flex gap-x-6 gap-y-2 bg-background sm:border-none border-y-2 border-solid border-gray-600'
		>
			<li>
				<a class='hover:underline text-xl font-semibold' href='/about'>About</a>
			</li>
			<li>
				<a class='hover:underline text-xl font-semibold' href='/projects'
					>Projects
				</a>
			</li>
			<li>
				<a class='hover:underline text-xl font-semibold' href='/contact'
					>Contact me
				</a>
			</li>
		</ul>
		<button id='menuBtn' class='block sm:hidden'>
			<Icon class='h-10 w-10' name='heroicons:bars-3-solid' />
		</button>
	</nav>
</header>

<script>
	const menuBtn = document.querySelector('#menuBtn');
	const menu = document.querySelector('#menu');

	const toggleMobileMenu = () => {
		console.log(menu?.classList);
		if (menu && menu.classList.contains('hidden')) {
			menu?.classList.remove('hidden');
			menu?.classList.add(
				'flex',
				'flex-col',
				'items-center',
				'w-full',
				'absolute',
				'top-16',
				'left-0',
				'py-8'
			);
		} else {
			menu?.classList.remove(
				'hidden',
				'flex',
				'flex-col',
				'items-center',
				'w-full',
				'absolute',
				'top-16',
				'left-0',
				'py-8'
			);
			menu?.classList.add('hidden');
		}
	};

	menuBtn?.addEventListener('click', toggleMobileMenu);
</script>
